html {
    background-image: linear-gradient(to bottom,rgb(217, 217, 250), white);
    height: 100%;
    width: 100%;
}

html, body {
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
}

:root {
    --font-xl: 3vw;
    --font-md: 1rem;
}

* {
    font-family: 'Quicksand', sans-serif;
}

a {
    text-decoration: none;
}

#ptitulo {
    text-align: center;
    animation-name: content_anim;
    position: relative;
    top: -20px;
}

#menu_icone {
    height: 35px;
    width: 30px;
    position: fixed;
    right: 30px;
    top: 30px;
}

#menu_icone:hover {
    opacity: 0.5;
}

#cabecalho {
    height: 104px;
    background-color: burlywood;
    position: relative;
    top: -37px;
}

#titulo_do_cabecalho {
    position: relative;
    left: 30px;
    top: 13px;
    font-size: 55px;
    color: black;
    opacity: 0.7;
}

@media screen and (max-width: 1024px) {
    #titulo_do_cabecalho {
        font-size: 30px;
        top: -9px;
    }
    #cabecalho {
        height: 60px;
    }
    #menu_icone {
        top: 12px;
    }
    #ptitulo {
        font-size: 25px;
    }
}


